.container {
  width: 1600px;
  margin: auto;
  @media only screen and (max-width: 1600px) {
    width: 100%;
  }
}
.header__container {
  padding: 15px 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 63px;
}
