//color
$color-dark: #000000;
$color-white: #ffffff;
$color-yellow: #ffee2e;
$color-grey: #333b41;

$color-bg-orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$color-bg-grey: #e5e5e5;
