.btn__link {
  display: block;
  width: 298px;
  height: 54px;
  padding: 16px 0px;
  border-radius: 25px;
  background: $color-bg-orange;
  text-align: center;
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: $color-white;
}
