.navigation {
  display: flex;
  list-style: none;
  gap: 58px;
  &__footer {
    margin-left: 120px;
  }

  &__link {
    color: $color-white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    transition: all 0.3s;
    &--active {
      color: $color-title-orange;
    }
    &:hover {
      color: $color-title-orange;
    }
  }
}
