.container {
  width: 1160px;
  margin: auto;
  @media screen and (max-width: 1490px) {
    width: 100%;
    padding: 0px 30px;
  }
}
.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 63px;
  @media screen and (max-width: 1490px) {
    padding: 15px 30px;
  }
}
.animals-wrapper {
  background: no-repeat 101% 12px url("./../../assets/flower_foto1.png"),
    no-repeat -3px 100% url("./../../assets/flower_foto2.png"),
    no-repeat 101% 100% url("./../../assets/flower_foto3.png"), $color-white;
  padding: 140px 0px 100px 0px;
  @media screen and (max-width: 1490px) {
    background: no-repeat 0px 100% url("./../../assets/flower_foto2-1000.png"),
      no-repeat 100% 100% url("./../../assets/flower_foto3-1000.png"),
      $color-white;
    padding: 104px 0px 140px 0px;
  }
}
.header {
  background-color: $color-dark;
}

.donate {
  padding: 70px 0px 100px 0px;
  background: $color-orange-grad;
}
.testimonials {
  padding: 140px 0px 180px 0px;
  background: no-repeat 101% 644px url("./../../assets/flower_foto4.png"),
    $color-white;
}
.footer {
  padding: 40px 0px 50px 0px;
  background: $color-dark;
}
