.backstage {
  display: flex;
  justify-content: space-between;
  gap: 87px;
  margin-bottom: 176px;

  &__img {
    width: 609px;
    height: 403px;
  }

  &__content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    color: $color-grey;
  }
  &__content > h2 {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__content > p {
    font-size: 16px;
    line-height: 140%;
  }

  &__content > h3 {
    font-size: 24px;
    line-height: 120%;
    margin-top: 54px;
    margin-bottom: 34px;
  }
}
