.header {
  position: relative;
  z-index: 2;
  &__design {
    display: inline-block;
    color: $color-white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-left: auto;
    transition: all 0.4s;
  }
  &__design:hover {
    color: $color-title-orange;
  }
}
