.header {
  position: relative;
  z-index: 10;
  &__design {
    display: inline-block;
    color: $color-white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-left: auto;
    transition: all 0.4s;
  }
  &__design:hover {
    color: $color-title-orange;
  }
  @media only screen and (max-width: 998px) {
    position: fixed;
    width: 100%;
  }
}
.burger {
  display: none;
  @media only screen and (max-width: 999px) {
    display: block;
    width: 18px;
    height: 10px;
    background-image: url(./../../assets/burger-icon.svg);
  }
  &:hover {
    cursor: pointer;
  }
}
.header__hidden {
  @media only screen and (max-width: 999px) {
    display: none;
  }
}
