.navigation {
  display: flex;
  list-style: none;
  gap: 58px;

  @media only screen and (max-width: 1490px) {
    gap: 48px;
  }

  &__footer {
    margin-left: 120px;
    @media only screen and (max-width: 1490px) {
      margin-left: 90px;
    }
    @media only screen and (max-width: 999px) {
      margin-left: 0;
      gap: 37px;
    }
    @media only screen and (max-width: 639px) {
      gap: 30px;
    }
  }

  &__link {
    color: $color-white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    transition: all 0.3s;
    &--active {
      cursor: default;
      color: $color-title-orange;
    }
    &:hover {
      color: $color-title-orange;
    }
  }
}
