.testimonials {
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: $color-grey;
    margin-bottom: 47px;
    @media screen and (max-width: 1490px) {
      margin-bottom: 30px;
    }
  }
  &__slider {
    margin-bottom: 30px;
    @media screen and (max-width: 1490px) {
      margin-bottom: 52px;
    }
    @media screen and (max-width: 999px) {
      margin-bottom: 40px;
    }

    &-content {
      width: 1160px;
      height: 392px;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(4, 264px);
      gap: 30px;
      margin-bottom: 20px;
      @media screen and (max-width: 1490px) {
        width: 940px;
        grid-template-columns: repeat(4, 293px);
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
      }
      @media screen and (max-width: 999px) {
        width: 600px;
        height: 360px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 109px);
        row-gap: 15px;
      }
    }
    &-item {
      width: 264px;
      height: 387px;
      border-radius: 20px;
      background: $color-white;
      padding: 15px;
      overflow: hidden;
      @media screen and (max-width: 1490px) {
        width: 289px;
        height: 387px;
      }
      @media screen and (max-width: 999px) {
        height: 106px;
        width: 596px;
      }

      & > p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: $color-grey-light;
      }

      &-wrapper {
        width: 268px;
        height: 391px;
        border-radius: 20px;
        background: $color-pink-grad;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1490px) {
          width: 293px;
          height: 391px;
        }
        @media screen and (max-width: 999px) {
          height: 109px;
          width: 600px;
        }
      }
    }

    &-title {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }
    &-img {
      width: 37px;
      height: 37px;
    }
    &-name {
      & > h4 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
      }
      & > p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: $color-grey-light2;
      }
    }

    &-progress {
      width: 597px;
      height: 6px;
      border-radius: 5px;
      background: $color-white;
      overflow: hidden;
      @media screen and (max-width: 1490px) {
        width: 391px;
      }

      &-wrapper {
        margin: auto;
        width: 599px;
        height: 8px;
        border-radius: 5px;
        background: $color-pink-grad;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1490px) {
          width: 395px;
        }
        @media screen and (max-width: 999px) {
          display: none;
        }
      }

      &--full {
        width: 115px;
        height: 100%;
        border-radius: 5px;
        background: $color-title-orange;
        @media screen and (max-width: 1490px) {
          width: 75px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__btn {
    @media screen and (max-width: 990px) {
      width: 240px;
      margin-left: 180px;
      display: block;
    }
  }
}
